/*GLOBAL*/
img {
  max-width: 35%;
  float: right;
  border-radius: 100%;
}

body {
/*  background: #EDEDC9;*/
/*  background: cornsilk;*/
    z-index: 1;
    margin-top: 275px;
    margin-bottom: 25px;
}

h1 {
  display: inline-block;
  margin: auto;
  font-family: 'Monsieur La Doulaise', cursive;
  color: midnightblue;
  font-weight: 100;
  padding-top: 50px;
}

/*NAVIGATION*/
a {
  color: midnightblue;
  display: inline-block center;
  width: 60px;
  height: 23px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  font-size: .75em;
  letter-spacing: 3px;
}

nav {
  font-size: 1.2em;
}

li {
  display: inline-block;
  font-family: 'Antic Didone', serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 100;
}

.sticky-nav {
/*  background: cornsilk;*/
  background: #ffffb3;
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
/*LAYOUT*/

img {
  border: 100px;
}

.grid-container {
  text-align: center;
  display: block;
  margin: auto;
}

footer {
/*  background: midnightblue;*/
  background: #002d5f;
  margin: auto;
  text-align: center;
  font-family: 'Antic Didone', serif;
  padding: 20px;
  font-size: .75em;
/*  color: cornsilk;*/
/*  color: #ff6;*/
  color: #ffffb3;
}


/*TYPOGRAPHY*/
h1 {
  color: midnightblue;
  letter-spacing: 1px;
  font-size: 4.5em;
}

div {
  color: navy;
  font-family: 'Monsieur La Doulaise', cursive;
  letter-spacing: 1px;
  font-size: 1.75em;
  line-height: 25px;
}

p {
  font-family: 'Antic Didone', serif;
  font-size: 1.25em;
  }

/* LINKS */
a:hover {
  color: black;
}
